.navbar {
  width: 85%;
  height: 4.5vw;
  border-radius: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: sticky;
  top: 3vw;
  z-index: 2;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.nav-logo {
  img {
    height: 4vw;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2vw;
  li{
    cursor: pointer;
  }
}
.nav-btn {
  border: none;
  padding: 0.8vw 2vw;
  border-radius: 2vw;
  cursor: pointer;
  background-color: #92300a;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 1vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: transform 0.3s ease-in-out;
  
}
.nav-links li {
  position: relative;
}
.nav-btn:hover{
  box-shadow: none;
  transform: scale(0.95);
}