.navbar {
  width: 85%;
  height: 4.5vw;
  border-radius: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: sticky;
  top: 3vw;
  z-index: 2;
  background: rgba(255, 255, 255, 0.562);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
}

.nav-logo {
  img {
    height: 4vw;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2vw;
  font-weight: 100;

}

.nav-btn {
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #92300a;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-links li {
  position: relative;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .navbar {
    width: 98%;
    height: 7vw;
    padding: 0 1vw;
    top: 1vw;
  }
  .nav-logo img {
    height: 6vw;
  }
  .nav-links {
    gap: 1vw;
    font-size: 1.2rem;
  }
  .nav-btn {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 1vw 2vw;
    border-radius: 2vw;
    gap: 1vw;
  }
  .nav-logo img {
    height: 8vw;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 2vw;
    font-size: 1rem;
    margin-top: 1vw;
  }
  .nav-btn {
    width: 100%;
    justify-content: center;
    font-size: 1rem;
    padding: 0.7rem 0;
    margin-top: 1vw;
  }
}